@import url("https://fonts.googleapis.com/css?family=Ubuntu");.lang{overflow:hidden;width:31px;height:31px;border:2px solid rgba(150,150,150,0.4)}.lang img{width:31px;position:relative;left:-2px}.navbar-brand img{width:40px;height:auto}header{border-bottom:1px solid rgba(0,0,0,0.0625) !important}.card{margin-bottom:2rem !important;border:1px solid rgba(0,0,0,0.0625) !important}.map{width:100%}.bl1{opacity:0;width:100%;height:auto;position:relative;top:-605px;-webkit-transition:0.4s ease;transition:0.4s ease}.bl1:hover{opacity:1}.bl2{opacity:0;width:100%;height:auto;position:relative;top:-888px;-webkit-transition:0.4s ease;transition:0.4s ease}.bl2:hover{opacity:1}tspan{display:none}@media (max-width: 567px){.res{font-size:4rem}.res2{font-size:2rem}}.view{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.view .view-inner{border:none !important}.vh{height:100vh}body{font-family:"Roboto", sans-serif}

/*# sourceMappingURL=maps/style.css.map */
